<div class="container">
    <div class="row">
        <h5>Profile</h5>
    </div>
    <div class="row d-flex justify-content-center">
        <div *ngIf="error" class="col-8 mt-3 alert alert-danger" role="alert">
            {{error.error.message}}
        </div>
    </div>
    <div class="col-8 mt-3">
        <div class="row mt-3">
            <span class="col"><strong>Name:</strong> {{user.first_name}} {{user.last_name}}</span>
        </div>
        <div class="row mt-3">
            <span class="col"><strong>Email:</strong> {{user.email}}</span>
        </div>
        <div class="row mt-3">
            <span class="col"><strong>EID:</strong> {{user.employee_id}}</span>
        </div>
        <div class="row mt-3">
            <span class="col"><strong>User Type:</strong> {{user.isAdmin === true ? 'Admin' : 'Basic User'}} </span>
        </div>
        <div class="row mt-3">
            <div class="col-6 d-flex justify-content-start px-0">
                <button (click)="openAccountDeleteModal()" class="btn btn-danger">Delete Account</button>      
            </div>
            <div class="col-6 d-flex justify-content-start px-0">
                <button (click)="editProfile()" class="btn btn-primary">Edit</button>      
            </div>
        </div>
    </div>
</div>