<div class="container">
    <div *ngIf="error" class="mt-3 alert alert-danger col-9" role="alert">
        {{error.error.message}}
    </div>

    <div *ngIf="scanSuccess" class="mt-3 alert alert-success col-9" role="alert">
        Scan Success
    </div>

    <div class="row">
        <p *ngIf="!itemLocation?.scannedList" class="col-9">
            No Scans To Show.
        </p>
    </div>

    <div *ngIf="itemLocation?.scannedList && !notification">
        <h5 class="col-12">Scanned Items</h5>
    </div>
    <div *ngIf="notification" class="row">
        <h5>Notification Sent!</h5>
    </div>
    <div class="row">
        <div *ngFor="let transaction of itemLocation?.scannedList" class="col-9">
            <div *ngIf="!notification">
                {{ transaction?.message }}
            </div>
        </div>
    </div>
    <p></p>
    <div *ngIf="!notification && !scannerOpen" class="row col-9">
        <form nonvalidate (ngSubmit)="sendNotification(scanForm)" [formGroup]="scanForm">
            <div class="row">
                <label for="itemQty" class="form-label" required>How many items are in stock?</label>
                <input type="itemQty" formControlName="itemQty" class="form-control col-9">
                <div *ngIf="scanForm.get('itemQty')?.hasError('required') && 
                            scanForm.get('itemQty')?.touched" class="error col-9">
                    Available quantity of scanned item is required.
                </div>
                <div *ngIf="scanForm.get('itemQty')?.hasError('itemQty') && 
                            scanForm.get('itemQty')?.touched" class="error col-9">
                    Quantity should be a number.
                </div>
                <div class="btn btn-primary col-4">
                    <button *ngIf="!notification" type="submit" class="btn btn-primary col-4"
                        [disabled]="scanForm.invalid">Send Notification</button>
                </div>
            </div>
            <!-- <button *ngIf="!notification" class="btn btn-primary col-4" (click)="sendNotification()">Send
                    Notification</button>
                <div class="col-2"></div>  Add empty column for spacing
                <button *ngIf="!scannerOpen" class="btn btn-primary col-4" (click)="openNewScanner()">Open
                    Scanner</button> -->
        </form>
    </div>

    <div id="qr-reader"></div>
</div>