<div class="container">
    <div class="row d-flex justify-content-center">
        <div *ngIf="error" class="col-8 mt-3 alert alert-danger" role="alert">
            {{error.error.message}}
        </div>
        <div class="col-8 mt-3 card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Login</h5>
                </div>
                <div class="card-text">
                    <form nonvalidate (ngSubmit)="onSubmit(resetRequestForm)" [formGroup]="resetRequestForm">
                        <div class="row mb-3">
                            <label for="email" class="form-label" required>Email address</label>
                            <input type="email" formControlName="email" class="form-control">
                            <div *ngIf="resetRequestForm.get('email')?.hasError('required') && 
                                    resetRequestForm.get('email')?.touched" class="error">
                                Email is required
                            </div>
                            <div *ngIf="resetRequestForm.get('email')?.hasError('email') && 
                                    resetRequestForm.get('email')?.touched" class="error">
                                Email should be in the form of 'xx@xx.xx'
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 d-flex align-items-center justify-content-start px-0">
                                <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                            </div>
                            <div class="col-6 d-flex justify-content-end px-0">
                                <button type="submit" class="btn btn-primary" [disabled]="resetRequestForm.invalid">Send Reset</button>      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>