<div class="container mt-5">
  <div class="card text-center">
    <!-- Card Header -->
    <div class="card-header">
      <h5 class="card-title">Inventory Usage Data</h5>
    </div>

    <!-- Show loading animation if loading is true -->
    <div *ngIf="loading" class="card-body loading-animation">
      <div class="spinner"></div>
    </div>


    <!-- Dropdown content -->
    <div *ngIf="!loading" class="row my-3">
      <div class="col-12 text-center">
        <label for="timePeriod">Time Period:</label>
        <select id="timePeriod" [(ngModel)]="selectedTimePeriod" (change)="onDropdownChange()" class="custom-select">
          <option value="">select</option> 
          <option value="12_months">1 year</option>
          <option value="6_months">6 months</option>
          <option value="3_months">3 months</option>
          <option value="1_month">1 month</option>
        </select>
      </div>
    </div>

    <!-- Trend and Pie Charts -->
    <div class="row justify-content-center">
      <div id="trend_div" style="width: 90%; height: 400px;">
      </div>
    </div>
    <div class="row justify-content-center my-6">
      <div id="pie_div" style="width: 90%; height: 400px;">
      </div>
    </div>
  </div>
</div>
