input.ng-dirty.ng-invalid {
    border-style: solid;
    border-color: #d3131f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}

input.ng-touched.ng-invalid {
    border-style: solid;
    border-color:#d3131f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}

.error {
    color: #d3131f;
}

input.ng-dirty.ng-valid {
    border-style: solid;
    border-color: #58bd58;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.2);
}

input.ng-touched.ng-valid {
    border-style: solid;
    border-color: #58bd58;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.2);
}