<div class="container">
    <div class="row d-flex justify-content-center">
        <div *ngIf="error" class="col-8 mt-3 alert alert-danger" role="alert">
            {{error.error.message}}
        </div>
        <div class="col-8 mt-3 card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Register New User</h5>
                </div>
                <div class="card-text">
                    <form novalidate (ngSubmit)="onSubmit(registrationForm)" [formGroup]="registrationForm">
                        <div class="row mb-3">
                            <label for="firstName" class="form-label" required>First Name</label>
                            <input type="text" class="form-control" formControlName="firstName">
                            <div *ngIf="registrationForm.get('firstName')?.hasError('required') &&
                                    registrationForm.get('firstName')?.touched" class="invalid-feedback">
                                First Name is required
                            </div>
                            <div *ngIf="registrationForm.get('firstName')?.hasError('maxlength') && 
                                    registrationForm.get('firstName')?.touched" class="error">
                                Max length of 32 exceeded
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastName" class="form-label" required>Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName">
                            <div *ngIf="registrationForm.get('lastName')?.hasError('required') &&
                                    registrationForm.get('lastName')?.touched" class="invalid-feedback">
                                Last Name is required
                            </div>
                            <div *ngIf="registrationForm.get('lastName')?.hasError('maxlength') && 
                                    registrationForm.get('lastName')?.touched" class="error">
                                Max length of 32 exceeded
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="id" class="form-label" required>Employee ID</label>
                            <input type="text" class="form-control" formControlName="id">
                            <div *ngIf="registrationForm.get('id')?.hasError('required') &&
                                    registrationForm.get('id')?.touched" class="invalid-feedback">
                                Employee ID is required
                            </div>
                            <div *ngIf="registrationForm.get('id')?.hasError('maxlength') && 
                                    registrationForm.get('id')?.touched" class="error">
                                Max length of 32 exceeded
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="email" class="form-label" required>Email address</label>
                            <input type="email" class="form-control" formControlName="email">
                            <div *ngIf="registrationForm.get('email')?.hasError('required') && 
                                    registrationForm.get('email')?.touched" class="error">
                                Email is required
                            </div>
                            <div *ngIf="registrationForm.get('email')?.hasError('email') && 
                                    registrationForm.get('email')?.touched" class="error">
                                Email should be in the form of 'xx@xx.xx'
                            </div>
                            <div *ngIf="registrationForm.get('email')?.hasError('maxlength') && 
                                    registrationForm.get('email')?.touched" class="error">
                                Max length of 255
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="password" class="form-label" required>Password</label>
                            <input type="password" class="form-control" formControlName="password">
                            <div *ngIf="registrationForm.get('password')?.hasError('required') && 
                                    registrationForm.get('password')?.touched" class="error">
                                Password is required
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="password_confirmation" class="form-label" required>Confirm Password</label>
                            <input type="password" class="form-control" formControlName="password_confirmation">
                            <div *ngIf="registrationForm.get('password_confirmation')?.hasError('confirmPassword') && 
                                    registrationForm.get('password_confirmation')?.touched" class="error">
                                Passwords do not match
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start px-0">
                                <button class="btn btn-danger" (click)="cancel()">Cancel</button>      
                            </div>
                            <div class="col d-flex justify-content-end px-0">
                                <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Login</button>      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>